// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin mytheme {
  @include valo;
  
	.title {
	    color: darkblue;
	    font-size: 24px;
	    font-weight: bold;
	}


	.root-layout.navigation-template-vaadin {
	
		$root-background-color: #EEEEEE;
		$main-color: #5AAAFA;
		$menu-color: #5AAAFA;
		$header-label-font-size: 1.618em;
		background-color: $root-background-color;
		
		.v-nativebutton{
			background: none;
			border: none;
			
			&:hover{
				cursor: pointer;
			}
		}
		
		.scroll-panel{
			background-color: #EEEEEE;
	        border: none;
	        border-radius: 0;		
		}
					
		.header-bar{
			background-color: $menu-color;
			padding: 0px 15px 0 15px;
			vertical-align: middle;
			height: 65px;
			
			> * {
				color: #FFFFFF;
				float: left;
				padding: 0;
				line-height: 20px;
				margin-left: 15px;
				
				/** Vertically center everything **/ 
				position: relative;
				top: 50%;
				-webkit-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				transform: translateY(-50%);
			}
			
			> .search-field{
	            background: none;
				border-bottom: solid 2px #fff;
				padding-left: 5px;
				
				&.v-textfield-prompt{
					color: #ffffff;
					font-style: italic;
				}
			}
			
		}
	
		.side-bar {
		
			background-color: #000;
			width: 100px;
			
			> .menu-button{
				position: relative;
				color: $main-color;
				height: 90px;
				
				&.selected{
					background-color: $root-background-color; 
				
					.v-nativebutton-caption {
	                    color: #1A1314;
	                }
				}
				
				.v-nativebutton-caption{
	                font-size: .7em;
	                color: #E9E0E0;
	                text-transform: uppercase;
					position: absolute;
					bottom: 8px;
					text-align: center;				
					left: 0;
					right: 0;
					margin-left: auto;
					margin-right: auto;
				}
				
				.v-icon{
					position: absolute;
					font-size: 35px;
					margin-left: auto;
					margin-right: auto;
					top: 10px;
					left: 0;
					right: 0;
				}
			}
		}
		
		.header-label{
			font-size: $header-label-font-size;
			width: 100%;
			margin-bottom: 20px;
			color: #000000;
			border-bottom: 3px solid #D0C7C7;
		}
		
		.header-label-small{
			width: 100%;
			color: $main-color;
	        text-transform: uppercase;
			border-bottom: 2px solid #D0C7C7;
		}
		
		.dashboard-layout{
			padding: 60px 60px 0 60px;
		}
	    
		.dashboard-item{
			background-color: #f6f3f3;
			border: 1px solid white;
			margin: 0 30px 30px 0px;
			padding: 15px;
			
			> .statistics-label{
				margin-top: 15px;
				
				.statistics-value{
					float: right;
					font-weight: bold;
				}
			}
		}
		
		&[width-range~="321px-768px"]{
			.dashboard-layout{
				padding: 10px;
			}
			
			.dashboard-item{
				width: 100% !important;
				min-width: 321px;
				margin: 0;
			}
			
			.side-bar{
				width: 60px;
				
				> .menu-button{
				
					height: 50px;
				
					> .v-nativebutton-caption{
						visibility: hidden;
					}
					
					> .v-icon{
						top: 0;
					}
				}
			}
			
			.header-bar{
				height: 45px;
				padding: 2px;	
			}
		}
	}
	
	.navigation-template-vaadin[width-range~="321px-768px"]{
		visibility: visible;
	}
  
}
